html {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	font: 12px Arial;
	background: linear-gradient(#EEE, #CCCCD0);
	overflow: hidden;
}

h1, h2 {
	font-size: 18px;
	margin: 0px;
}
h1 {
	font-size: 42px;
}

a {
	color: #7777EE;
	text-decoration: none;
}

a:hover {
	color: #AAAAFF;
}

path.line { 
	#stroke-width: 2;
	fill: none;
	opacity: 0.5;
}

#title {
	text-align: center;
}

.area {
	opacity: 0.5;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
.axis .minor line {
	stroke: #777;
	stroke-dasharray: 2,2;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#hoverquery  {
	background-color: #ddd;
	opacity: 0.8;
	width: 250px;
	height: 75px;
	border: 2px solid #252525;
	border-radius: 5px;
	text-align: center;
}

#hoverquery span {
    z-index: 10;
	padding: 5px;
}

#hoverquery strong {
	font-size: 2em;
}

.callout {
	z-index: 20;
	position: absolute;
	top: 75px;
	left: 117px;
}

.controlpanel {
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	text-align: left;
}

.controlpanelinset{
	padding-left: 5px;
}

.controlpanelcountry{
	margin-bottom: 5px;
	background-color: #DDD;
	opacity: 0.8;
}

.controlpanelcountry:hover{
	background-color: #CCC;
	opacity: 1.0;
}

.controlpanelcountry input,.countrycolor {
	margin: 3px;
	margin-left: 4px;
}

.countrycolor {
	opacity: 0.5;
}